<mat-card *ngIf="show=='front'" class="infinite-card" style="background-image:url({{card?.imageUrl}});">
  <img class="card-image" src="{{cardBorder + card?.colour + webp}}" alt="">
  <mat-card-content class="infinite-card-content">
    <table style="font-size: 25px; width: fit-content; text-shadow: 2px 2px 2px black;">
      <tr>
        <td><i class="fas fa-gem"></i></td>
        <td>{{card?.cost}}</td>
      </tr>
      <tr>
        <br>
      </tr>
      <tr>
        <td><i class="fas fa-fist-raised"></i></td>
        <td>{{card?.attack}}</td>
      </tr>
      <tr [class.red]="defense < card?.defense! && defense>0">
        <td><i class="fas fa-shield-alt"></i></td>
        <td *ngIf="defense>0">{{defense}}</td>
        <td *ngIf="defense==0">{{card?.defense}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="show=='back'" class="infinite-card-back" style="background-image: url({{beautifulBackUrl}});">

</mat-card>
