<mat-toolbar style="display: flex;"  *ngIf="matchService.match == null">

    <mat-icon style="margin-right: 8px" routerLink="/">class</mat-icon>
    <a routerLink="/"><span>Super Cartes Infinies</span></a>


  <span style="flex: 1 1 auto;"></span>

  <mat-basic-chip style="margin-right: 20px">ELO : {{this.matchService.elo}}</mat-basic-chip>

  <mat-chip *ngIf="isLoggedIn()" style="margin-right: 20px;">
    {{username}}
  </mat-chip>

  <button mat-raised-button color="warn" *ngIf="isLoggedIn()" (click)="logout()" >Se déconnecter</button>
</mat-toolbar>
<router-outlet></router-outlet>
