<mat-toolbar style="display: flex;"  *ngIf="matchService.match == null">
  <mat-icon style="margin-right: 8px" routerLink="/">class</mat-icon>
  <a routerLink="/"><span>Super Cartes Infinies</span></a>
  <span style="flex: 1 1 auto;"></span>

  <mat-chip *ngIf="isLoggedIn()" style="margin-right: 20px;">
    {{getUsername()}}
  </mat-chip>
  <button mat-raised-button color="warn" *ngIf="isLoggedIn()" (click)="logout()">Se déconnecter</button>
</mat-toolbar>

<div>
  <button (click)="publicRequest()">Requête publique</button>
  <button (click)="privateRequest()">Requête privée</button>
  <hr>
  <button (click)="register()">Enregistrer</button>
  <button (click)="connect()">Connecter</button>
  <button *ngIf="isLoggedIn()" (click)="logout()">Déconnecter</button>
</div>
<router-outlet></router-outlet>
