<div style="display: flex; margin: 20px; justify-content: center;">
  <button mat-raised-button style="margin-right: 20px;" [routerLink]="['/myDecks']">Mes Decks</button>
  <button mat-raised-button style="margin-right: 20px;" [routerLink]="['/myCards']">Mes cartes</button>
  <button mat-raised-button color="primary" style="margin-right: 20px;" [routerLink]="['/shop']">Le magasin</button>
  <button mat-raised-button color="accent" style="margin-right: 20px;" (click)="openDialog()">Joindre une partie</button>
  <button mat-raised-button color="primary" style="margin-right: 20px;" [routerLink]="['/Spectateur']">Spectate a game</button>
</div>
<router-outlet></router-outlet>

