.chatApp{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  z-index: 9998;
  transition: background-color 1s ease;
}
.chatApp:hover {
  background-color: #000000; /* Couleur plus foncée au survol */
  transition: background-color 2s ease;

}
.chat-container {
  width: 510px;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

}

.chat-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 70%;
  z-index: 9999;
  display: inline-block;
}

.message-input {
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 10px;
}
.message{
  color: #FFFFFF;
  padding: 3px;
  z-index: 9999;
  width: 230px;
}
.inline-container {
  display: inline-flex;
}
.NomPlayer{
  padding: 3px;
  color: #66aaef;
}
.NomEnnemi{
  color: #c389e3;
  padding: 3px;
}
.messagePlayer{
  color: #ffffff;
  padding: 3px;
  z-index: 9999;
  width: 350px;
}
.messageConnDec{
  color: #b6b6b6;
  padding: 3px;
  z-index: 9999;
  width: 350px;
}
.message-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  z-index: 9999;
}

.message-input button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  z-index: 9999;
}

.message-input button:hover {
  background-color: #0056b3;
}


.messagebox{
  z-index: 9999;
}
.btnMute, .btnBan {
  padding: 5px 10px; /* Ajustez le rembourrage selon vos besoins */
  font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
  border-radius: 5px; /* Pour arrondir les coins */
}

.btnMute {
  background-color: #007bff; /* Couleur de fond pour le bouton "Mute" */
  border-color: #007bff; /* Couleur de la bordure pour le bouton "Mute" */
  color: #fff; /* Couleur du texte pour le bouton "Mute" */
}

.btnBan {
  background-color: #ff0000; /* Couleur de fond pour le bouton "Bannir" */
  border-color: #ff0000; /* Couleur de la bordure pour le bouton "Bannir" */
  color: #fff; /* Couleur du texte pour le bouton "Bannir" */
}
