<mat-card class="artist-card" style="margin: 16px; padding: 16px;">
    <form [formGroup]="loginForm">

        <mat-form-field style="width: 100%">
            <input matInput placeholder="Email" formControlName="usernameQuestion" name="usernameQuestion">

            <mat-error *ngIf="loginForm.get('usernameQuestion')?.hasError('required')">
                Ce champs est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.get('usernameQuestion')?.hasError('gmailValidator')">
                Votre email n'est pas <strong>conforme</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%">

            <input matInput type="password" placeholder="Password" formControlName="passwordQuestion" name="passwordQuestion">
            <mat-error *ngIf="loginForm.get('passwordQuestion')?.hasError('required')">
                Ce champs est <strong>requis</strong>
            </mat-error>
          <mat-error *ngIf="loginForm.get('passwordQuestion')?.hasError('passwordLength')">
            Le mot de passe est trop <strong>court</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%">

            <input matInput type="password" placeholder="Confirm Password" formControlName="passwordConfirmQuestion" name="passwordConfirmQuestion">
            <mat-error *ngIf="loginForm.get('passwordConfirmQuestion')?.hasError('required')">
                Ce champs est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.get('passwordConfirmQuestion')?.hasError('passwrdnoconform')">
                Les mots de passe <strong>ne correspondent pas</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="registering()">Register</button>
    </form>
</mat-card>

